{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Tworzenie nowej oferty pracy{% endblock %}

{% block content %}

<div class="container" style=" padding-left: 300px; padding-right: 300px; padding-top: 50px; padding-bottom: 50px; ">
    <h3 class="mt-3" style="border-bottom: 3px dotted">Tworzenie nowej oferty pracy</h3>

    <form method='POST' style="padding-top: 30px ;">
        
       <h5 style="padding-bottom: 5px"> {{ offer_form.name|as_crispy_field }}</h5>
       <h5 style="padding-bottom: 5px"> {{ offer_form.company|as_crispy_field }}</h5>
       <h5 style="padding-bottom: 5px"> {{ offer_form.category|as_crispy_field }}</h5>
        <h5 style="padding-bottom: 15px">Pełny etat: {{ offer_form.full_time }}</h5>
       <h5 style="padding-bottom: 15px">Zdalnie: {{ offer_form.remote }}</h5>
       <h5 style="padding-bottom: 5px"> {{ offer_form.description|as_crispy_field }}</h5>
       <h5 style="padding-bottom: 5px"> {{ offer_form.city|as_crispy_field }}</h5>
       <h5 style="padding-bottom: 5px">  {{ offer_form.min_salary|as_crispy_field }}</h5>
       <h5 style="padding-bottom: 5px"> {{ offer_form.max_salary|as_crispy_field }}</h5>
        {% csrf_token %}

        <p><input type="submit" class="btn btn-primary" style=" padding:5px; " value="UTWÓRZ OFERTĘ"> </p>
    </form>
</div>    
{% endblock %}