{% extends "base.html" %}

{% block title %}Panel główny{% endblock %}

{% block content %}
    <h1>Oferty pracy</h1>
    <p>Tutaj możesz przeglądać bieżące oferty pracy.</p>

    {% for offer in offers %}
        <h4>{{ offer.name }}</h4>
        {% if offer.company != NULL and offer.company != "" %}
            <p> Firma: {{ offer.company }} </p>
        {% else %}
            <p> Firma: Brak </p>
        {% endif %}

        {% for city in cities %}
            {% if city.id == offer.id_city_id %}
            <p>Miasto: {{ city.name }} </p>
            {% endif %}
        {% endfor %}

        {% if offer.max_salary != NULL %}
            <p>Wynagrodzenie: {{ offer.min_salary }} - {{ offer.max_salary }} zł </p>
          {% else %}
            <p>Wynagrodzenie minimalne: {{ offer.min_salary }} zł </p>
        {% endif %}
        <a class="btn btn-outline-success my-2 my-sm-0" href="offer_detail/{{ offer.id }}/">Zobacz szczegóły</a>
    {% endfor %}

{% endblock %}