{% extends "base.html" %}

{% block title %}Edytuj ofertę pracy{% endblock %}

{% block content %}
    <h1>Edytowanie oferty pracy</h1>
    
    <form method='POST'>
        
        {% comment %} przykladowa petla z for dla wszystkich inputow w formie {% endcomment %}

        {% comment %} {% for field in edit_form.visible_fields %}
        <p>{{ field.errors }}</p>
        <p>{{ field.label }} {{ field.input }}</p>
        {% endfor %} {% endcomment %}

        <h3>Stanowisko: {{ offer.name }}</h3>

        {% if offer.company != NULL %}
            <h3> Firma: {{ offer.company }} </h3>
            {% else %}
            <h3> Firma: Brak </h3>
        {% endif %}

        {% comment %} kategoria {% endcomment %}
        {% for cat_num, cat_name in categories %}
        {% if cat_num == offer.category %}
            <h4>Kategoria: {{ cat_name }}</h4>
        {% endif %}
        {% endfor %}

        <p> Pełny etat: {{ edit_form.full_time }} </p>
        <p> Zdalnie: {{ edit_form.remote }} </p>
        <p> Opis: {{ edit_form.description }} </p>
        <p> Minimalne wynagrodzenie: {{ edit_form.min_salary }} zł </p>
        <p> Maksymalne wynagrodzenie: {{ edit_form.max_salary }} zł </p>


        {% csrf_token %}
        <p><input type="submit" value="Zatwierdź"></p>
    </form>

{% endblock %}