{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Edycja konta {% endblock %}

{% block content %}
    <div class="container w-50" style="padding-top: 40px;  padding-left: 150px;padding-right:150px">
        <h2 class="mt-3" style="border-bottom: 3px dotted; " >Edycja konta</h2>

        <form action="." method="post" style="padding-top: 30px; ">
            
          <b>  {{ user_form.first_name|as_crispy_field  }}
            {{ user_form.last_name|as_crispy_field  }}
            {{ user_form.phone|as_crispy_field  }}
            <p>Czy szukam pracy: {{ user_form.is_job_seeker }}</p>
            <p>Czy szukam pracowników: {{ user_form.is_employee }}</p>
            {{ user_form.description|as_crispy_field  }}
        </b>
            {% csrf_token %}
            <p><input type="submit"  class="btn btn-success my-2 my-sm-0" value="Zapisz zmiany"> <a class="btn btn-primary my-2 my-sm-0" href="{% url "my_account" %}">Powrót</a></p>
            
        </form>
        
    </div>   
{% endblock %}