{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Logowanie{% endblock %}

{% block content %}

<body style="background-color: white">

<div class="container " style="background-color: white; height: 500px ; padding-left:60px; margin-top: 100px; padding-top: 30px; border: 1px solid" >
    <div class="row" >
        
            <div class="col-md"><img class="img"  src="https://images.pexels.com/photos/927451/pexels-photo-927451.jpeg?cs=srgb&dl=biurko-biuro-elektronika-kawa-927451.jpg&fm=jpg" width=550 style=" padding-top: 35px; "></div>
            <div class="col-md "style=" ">
                <h2 class="mt-4" style="padding-bottom: 10px">Logownie</h2>
                {% if form.errors %}
                    <p>
                    Nazwa użytkownika lub hasło nieprawidłowe.
                    Spróbuj ponownie.
                    </p>
                {% else %}
                    <p>Wypełnij poniższy formularz, aby się zalogować.</p> <p> Jeżeli nie masz jeszcze konta, możesz je utworzyć <a href="{% url "register" %}">tutaj</a>.</p>
                {% endif %}


                <div  style="text-center">
                    
                    <form action="{% url 'login' %}" method = "post">
                        <p>{{ form.username|as_crispy_field }}</p>
                        <p>{{ form.password|as_crispy_field }}</p>
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <p><input type="submit" class="btn btn-success" value="Zaloguj"></p>
                    </form>
                    <p><a href="{% url "password_reset" %}">Zapomniałeś hasła?</a></p>
                </div>

        

            </div>
             <div class="col-md-1" style="width: 60%"></div>
    </div>
    
</div>
{% endblock content %}

